<%- include('../partials/head.ejs') %>
    <title>uhSabadu</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <section class="main_img_principal">
                    <img src="/images/products/<%= product.image %>" alt="imagen de producto <%= product.name %>">
                </section>
                <!-- <section class="main_img_lateral">
                    <img class="img_lateral" src="images/lateral1.webp" alt="imagen lateral">
                    <img class="img_lateral" src="images/lateral2.webp" alt="imagen lateral">
                    <img class="img_lateral" src="images/lateral3.webp" alt="imagen lateral">
                    <img class="img_lateral" src="images/lateral4.webp" alt="imagen lateral">
                </section> -->
                <section class="main_otros">

                </section>
                <!-- <h3 class="title__general__features">CARACTERISTICAS GENERALES</h3> -->
                <section class="main_caracteristicas">

                </section>
                <section class="agregarSection">
                    <script>
                        function irAproductCart() {
                            window.location.href = "/products/productCart";
                        }
                    </script>
                    <form class="Agregar">
                        <button type="button" onclick="irAproductCart()"> + Agregar al carrito</button>
                        
                    </form>
                </section>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

    </html>