<%- include('../partials/head.ejs') %>
    <title>uhSabadu</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <article class="tarjetaProducto">
                    <figure>
                        <img class="main_img_principal" src="/images/products/<%= product.image %>"
                            alt="imagen de producto <%= product.name %>">
                    </figure>
                    <h3 class="name">
                        <%= product.name %>
                    </h3>

                    <p>
                        <%= product.description %>
                    </p>
                </article>

                <article class="product-price_data">
                    <h2 class="price">
                        $<%= toThousand(product.price) %>
                    </h2>
                    <h3 class="finalPrice">
                        $<%= toThousand(product.price*(100-product.discount)/100) %>
                    </h3>
                    <span>
                        <%= product.discount %> % OFF
                    </span>
                    <i class="fas fa-truck"></i>
                    <section class="agregarSection">
                        <script>
                            function irAproductCart() {
                                window.location.href = "/products/productCart";
                            }
                        </script>
                        <form class="Agregar">
                            <button type="button" onclick="irAproductCart()"> + Agregar al carrito</button>

                        </form>
                    </section>
                </article>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

    </html>