<%- include('../partials/head.ejs') %>
    <title>uhSabadu</title>
    <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <section class="main_img_principal">
                    <img src="/images/users/<%= user.image %>" alt="Imagen de usuario <%= user.name %>">
                    <p>ID: <%= user.id %> </p>
                    <p>Nombre: <%= user.first_name %> </p>
                    <p>Apellido: <%= user.last_name %> </p>
                    <p>Dirección: <%= user.address %> </p>
                    <p>País: <%= user.country %> </p>
                    <p>E-mail: <%= user.email %> </p>
                    <p>Código de área: <%= user.phone_prefix %> </p>
                    <p>Teléfono: <%= user.phone %> </p>
                </section>

                </section>

            </main>
            <section>
                <form class="editUser">
                    <button type="button" onclick="edituser()">Editar Usuario</button>
                    <script>
                        function edituser() {
                            window.location.href = "/users/edit/<%= user.id %>";
                        }
                    </script>
                </form>
            </section>
            <%- include('../partials/footer.ejs') %>
    </body>

    </html>