<%- include('../partials/head.ejs') %>
    <title>uhSabadu</title>
    <link rel="stylesheet" href="/css/productEdit.css">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>
            <main>
                <form action="/users/edit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="row product-detail">
                        <div class="col-12 col-md-6">
                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" id="name" name="name" placeholder="" class="form-input"
                                value="<%= user.first_name %>">
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="surname" class="form-label">Apellido:</label>
                            <input type="text" id="surname" name="surname" placeholder="Ingrese su apellido"
                                class="form-input" value="<%= user.last_name %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="country" class="form-label">Pais:</label>
                            <input type="text" id="country" name="country" placeholder="Ingrese un pais"
                                class="form-input" value="<%= user.country %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="address" class="form-label">Dirección:</label>
                            <input type="text" id="address" name="address" placeholder="Ej: Zapatillas Reebok"
                                class="form-input" value="<%= user.address %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="codArea" class="form-label">Código de área:</label>
                            <input type="text" id="codArea" name="codArea" placeholder="Ej: Zapatillas Reebok"
                                class="form-input" value="<%= user.phone_prefix %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="tellphone" class="form-label">Teléfono:</label>
                            <input type="text" id="tellphone" name="tellphone" placeholder="Ej: Zapatillas Reebok"
                                class="form-input" value="<%= user.phone %>">
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="email" class="form-label">E-mail:</label>
                            <input type="text" id="email" name="email" placeholder="Ej: Zapatillas Reebok"
                                class="form-input" value="<%= user.email %>">
                        </div>

                        <div class="col-12">
                            <label for="image" class="form-label">Imagen:</label>
                            <input type="file" name="image" id="image" class="form-input">
                        </div>

                        <div class="col-12">
                            <button type="submit" class="buy-now-button">Guardar usuario</button>
                        </div>
                    </div>
                </form>
                <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete">ELIMINAR</button>
                </form>
            </main>
            <%- include('../partials/footer.ejs') %>

    </body>

    </html>